<div class="info-contact1">
  <div class="info-contact__container">
    <div class="info-contact__head">
      <button class="info-contact__close close close--abs close--light" type="button" data-dismiss="modal" aria-label="Close" (click)="close()">
                <span aria-hidden="true">×</span>
            </button>

      <div id="userpick_big_holder">
        <div id="status_marker"></div>
        <div id="userpic_big">
          <img src="./assets/images/ava_big.jpg">
        </div>
      </div>

      <div id="user_name">Иванов Иван</div>
      <div id="user_city">Россия, Москва</div>

      <div class="tags-holder ">
        <button class="tags-holder__tag " type="button">IT</button>
        <button class="tags-holder__tag" type="button">Специалист</button>
      </div>

      <div class="info-contact__buttons">
        <button class="btn ui-button ui-button--md" type="button">Добавить в связи</button>
        <button type="button" class="btn ui-button ui-button--md">Написать сообщение</button>
      </div>
    </div>

    <div class="info-contact__content">
      <div class="info-contact__time-line scroll-fix">
        <div class="time-line time-line--active">
          <div class="time-line__date">
            <div class="">По сегодня</div>
            <div class="">12.12.2017</div>
          </div>

          <div class="time-line__sep">
            <div class="circle"></div>
          </div>

          <div class="time-line__desc">
            <div class="time-line__position">Политик, Руководитель</div>
            <div class="time-line__company">ООО Название С Трех Слов</div>
            <div class="time-line__site"><a href="">www.websiteuser.ru</a></div>
          </div>
        </div>

        <div class="time-line">
          <div class="time-line__date">
            <div class="">12.12.2015</div>
            <div class="">12.12.2017</div>
          </div>

          <div class="time-line__sep">
            <div class="circle"></div>
          </div>

          <div class="time-line__desc">
            <div class="time-line__position">Менеджер, Старшый помо...</div>
            <div class="time-line__company">ООО Название С Трех Слов</div>
          </div>
        </div>

        <div class="time-line">
          <div class="time-line__date">
            <div class="">12.12.2015</div>
            <div class="">12.12.2017</div>
          </div>

          <div class="time-line__sep">
            <div class="circle"></div>
          </div>

          <div class="time-line__desc">
            <div class="time-line__position">Учитель, Геометрии</div>
            <div class="time-line__company">ООО Название С Трех Слов</div>
          </div>
        </div>

        <div class="time-line">
          <div class="time-line__date">
            <div class="">12.12.2015</div>
            <div class="">12.12.2017</div>
          </div>

          <div class="time-line__sep">
            <div class="circle"></div>
          </div>

          <div class="time-line__desc">
            <div class="time-line__position">Полиграфист, Младший помо...</div>
            <div class="time-line__company">ООО Название С Трех Слов</div>
          </div>
        </div>

        <div class="time-line">
          <div class="time-line__date">
            <div class="">12.12.2015</div>
            <div class="">12.12.2017</div>
          </div>

          <div class="time-line__sep">
            <div class="circle"></div>
          </div>

          <div class="time-line__desc">
            <div class="time-line__position">Политик, Руководитель</div>
            <div class="time-line__company">ООО Название С Трех Слов</div>
            <div class="time-line__site"><a href="">www.websiteuser.ru</a></div>
          </div>
        </div>

        <div class="time-line">
          <div class="time-line__date">
            <div class="">12.12.2015</div>
            <div class="">12.12.2017</div>
          </div>

          <div class="time-line__sep">
            <div class="circle"></div>
          </div>

          <div class="time-line__desc">
            <div class="time-line__position">Менеджер, Старшый помо...</div>
            <div class="time-line__company">ООО Название С Трех Слов</div>
          </div>
        </div>

        <div class="time-line">
          <div class="time-line__date">
            <div class="">12.12.2015</div>
            <div class="">12.12.2017</div>
          </div>

          <div class="time-line__sep">
            <div class="circle"></div>
          </div>

          <div class="time-line__desc">
            <div class="time-line__position">Учитель, Геометрии</div>
            <div class="time-line__company">ООО Название С Трех Слов</div>
          </div>
        </div>

        <div class="time-line">
          <div class="time-line__date">
            <div class="">12.12.2015</div>
            <div class="">12.12.2017</div>
          </div>

          <div class="time-line__sep">
            <div class="circle"></div>
          </div>

          <div class="time-line__desc">
            <div class="time-line__position">Полиграфист, Младший помо...</div>
            <div class="time-line__company">ООО Название С Трех Слов</div>
          </div>
        </div>

        <div class="time-line">
          <div class="time-line__date">
            <div class="">12.12.2015</div>
            <div class="">12.12.2017</div>
          </div>

          <div class="time-line__sep">
            <div class="circle"></div>
          </div>

          <div class="time-line__desc">
            <div class="time-line__position">Политик, Руководитель</div>
            <div class="time-line__company">ООО Название С Трех Слов</div>
            <div class="time-line__site"><a href="">www.websiteuser.ru</a></div>
          </div>
        </div>

        <div class="time-line">
          <div class="time-line__date">
            <div class="">12.12.2015</div>
            <div class="">12.12.2017</div>
          </div>

          <div class="time-line__sep">
            <div class="circle"></div>
          </div>

          <div class="time-line__desc">
            <div class="time-line__position">Менеджер, Старшый помо...</div>
            <div class="time-line__company">ООО Название С Трех Слов</div>
          </div>
        </div>

        <div class="time-line">
          <div class="time-line__date">
            <div class="">12.12.2015</div>
            <div class="">12.12.2017</div>
          </div>

          <div class="time-line__sep">
            <div class="circle"></div>
          </div>

          <div class="time-line__desc">
            <div class="time-line__position">Учитель, Геометрии</div>
            <div class="time-line__company">ООО Название С Трех Слов</div>
          </div>
        </div>

        <div class="time-line">
          <div class="time-line__date">
            <div class="">12.12.2015</div>
            <div class="">12.12.2017</div>
          </div>

          <div class="time-line__sep">
            <div class="circle"></div>
          </div>

          <div class="time-line__desc">
            <div class="time-line__position">Полиграфист, Младший помо...</div>
            <div class="time-line__company">ООО Название С Трех Слов</div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
