<div class="menu-left__content1">
  <div class="menu-left__header">
    <button class="menu-left__close" (click)="close()">
              <img src="http://works.kingdoit.com/vdele/img/menu_close.png" alt="">
          </button>
    </div>

  <div class="menu-left__title">Основное меню</div>
  <nav class="menu-left__nav">
    <a class="menu-left__item menu-left__item--active" id="page-c" href="main-connections.html">
                <img src="./assets/images/connect-menu.svg" alt="">

                <span class="menu-left__capt">
                    Связи<span class="menu-left__desc">Вашых контактов</span>
                </span>

                <span class="icon-check">
                    <img src="./assets/images/active-menu.svg" alt=""/>
                </span>
            </a>

    <a class="menu-left__item" id="page-p" href="mainpeoples">
                <img src="./assets/images/people-menu.svg" alt="">

                <span class="menu-left__capt">
                    Люди<span class="menu-left__desc">Поиск работы</span>
                </span>

                <span class="icon-check">
                    <img src="./assets/images/active-menu.svg" alt=""/>
                </span>
            </a>
  </nav>
</div>
<button class="menu-left__close--beyond"></button>
