<div class="aside-left tab-content">
    <!-- связи-->
    <div class="aside-left__section aside-left__section--is-open" id="connects-menu">
        <div class="aside-left__header">
            <img class="aside-left__icon" src="../assets/images/icon_connect.png" alt="">
            <span class="aside-left__title">Связи</span>
        </div>

        <nav class="nav nav-tabs ui-tabs" id="nav-tab" role="tablist">
            <a [className]="tab1css" data-toggle="tab" role="tab" aria-controls="nav-home"
               aria-selected="true" (click)='tab1Active()'>ИЩУ СВЯЗИ</a>

            <a [className]="tab2css"  data-toggle="tab" role="tab"
               aria-controls="nav-profile" aria-selected="false" (click)='tab2Active()'>ИМЕЮ СВЯЗИ</a>
        </nav>

        <div class="aside-left__content tab-content" id="nav-tabContent">

            <div [className]="tab1ContentCss" id="1a" role="tabpanel" aria-labelledby="nav-home-tab">
                <form ngNativeValidate>
                    <div class="ui-group">
                        <label class="ui-group__label">Выбор страны</label>
                        <input type="text" class="form-control ui-input ui-input--md ui-input--themes2" required>
                    </div>

                    <div class="ui-group">
                        <label class="ui-group__label">Город</label>
                        <input type="text" class="form-control ui-input ui-input--md ui-input--themes2" required>
                    </div>

                    <div class="ui-group ui-group--disabled">
                        <label class="ui-group__label">Отрасль
                            <button class="ui-button ui-button--info" type="button">
                                <img src="../assets/images/icn-close.png" alt="">
                            </button>
                        </label>
                        <input type="text" class="form-control ui-input ui-input--md ui-input--themes2" required>
                    </div>

                    <div class="ui-group ui-group--disabled">
                        <label class="ui-group__label">Сегмент
                            <button class="ui-button ui-button--info" type="button">
                                <img src="../assets/images/icn-close.png" alt="">
                            </button>
                        </label>
                        <input type="text" class="form-control ui-input ui-input--md ui-input--themes2" required>
                    </div>

                    <button type="submit" class="btn ui-button btn-block ui-button--md btn-block mrg--t30">Фильтр</button>
                </form>
            </div>

            <div [className]="tab2ContentCss" id="2a" role="tabpanel" aria-labelledby="nav-home-tab">
            </div>
        </div>
    </div>

    <!-- люди-->
    <div class="aside-left__section" id="people-menu">
        <div class="aside-left__header">
            <img class="aside-left__icon" src="img/people-menu.svg" alt="">
            <span class="aside-left__title">Люди</span>
        </div>

        <div class="aside-left__content">
            <form>
                <div class="ui-group">
                    <label class="ui-group__label">Выбор страны</label>
                    <input type="text" class="form-control ui-input ui-input--md ui-input--themes2" required placeholder="">
                </div>

                <div class="ui-group">
                    <label class="ui-group__label">Город</label>
                    <input type="text" class="form-control ui-input ui-input--md ui-input--themes2" required placeholder="">
                </div>

                <div class="ui-group">
                    <label class="ui-group__label">Статус</label>
                    <input type="text" class="form-control ui-input ui-input--md ui-input--themes2" required placeholder="">
                </div>

                <div class="ui-group ui-group--disabled">
                    <label class="ui-group__label">Отрасль
                        <button class="ui-button ui-button--info" type="button">
                            <img src="img/icn-close.png" alt="">
                        </button>
                    </label>
                    <input type="text" class="form-control ui-input ui-input--md ui-input--themes2" required disabled>
                </div>

                <div class="ui-group ui-group--disabled">
                    <label class="ui-group__label">Сегмент
                        <button class="ui-button ui-button--info" type="button">
                            <img src="img/icn-close.png" alt="">
                        </button>
                    </label>
                    <input type="text" class="form-control ui-input ui-input--md ui-input--themes2" required disabled>
                </div>

                <button type="submit" class="btn ui-button btn-block ui-button--md btn-block mrg--t30">Фильтр</button>
            </form>
        </div>
    </div>
</div>
