<!-- PRO аккаунт активирован-->
<div class="modal fade" id="modalProFinish" tabindex="-1" role="dialog" aria-labelledby="modalProFinish" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="issue issue--done">
        <div class="issue__header issue__header--succesul">
          PRO аккаунт активирован
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
        </div>
        <div class="issue__content issue__content--succesul">
          <span class="issue__sub-title">Вы успешно преобрели PRO аккаунт до 15.11.2017</span>
        </div>
      </div>
    </div>
  </div>
</div>
