<main class="content-inner content-inner--sings-pages">
  <article class="content-inner__left">
    <div class="login-info">
      <div class="login-info__content">
        <h1 class="login-info__title">VDELE.RU</h1>

        <div class="login-info__text">
          <div class="login-info__sub-title">
            <span class="login-info__text--bold">Сервис №1</span> по поиску и заработку на деловых связях</div>

          <p>Делись связями и находи нужные контакты для своего бизнеса: умный фильтр сегментирует бизнес по отраслям, их специализациям и компаниям, а контакты по должностям.</p>
          <p>И помни - связи решают все!</p>
        </div>

        <div class="login-info__buttons">
          <button class="btn ui-button ui-button--md ui-button--w160" type="button">ЛЮДИ</button>
          <button class="btn ui-button ui-button--md ui-button--w160" type="button">СВЯЗИ</button>
        </div>
      </div>
    </div>
  </article>
  <app-login-form></app-login-form>
</main>
