<ng-template #modalPro let-c="close" let-d="dismiss"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalPro" aria-hidden="true">
  <!-- <div class="modal fade" id="modalPro" tabindex="-1" role="dialog" aria-labelledby="modalPro" aria-hidden="true"> -->
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="issue">
        <div class="issue__header">
          Оформить
          <span class="issue__header--bold-text">PRO:</span>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="c('Close click')">
                      <span aria-hidden="true">&times;</span>
                  </button>
        </div>
        <div class="issue__content">
          <a class="issue__link-beck" data-toggle="modal" data-target="#modalProInfo" data-dismiss="modal" aria-label="Close" (click)="openbenifitModal(benifitmodalPro,$event)">
                      <i class="fa fa-angle-left"></i>
                      <span class="issue__sub-title">Преимущества PRO аккаунта</span>
                  </a>

          <form action="">
            <div class="issue__tariff">
              <div class="issue__tariff-point">

                <label class="issue__tariff-label">
                                  <input class="issue__tariff_input" type="radio" name="one" checked>

                                  <span class="issue__tariff-label-val issue__tariff-label-val--up">
                                      1<span class="issue__tariff-label_disc">мес</span>
                                  </span>

                                  <span class="issue__tariff-input-round"></span>

                                  <span class="issue__tariff-label-val issue__tariff-label-val--down">640
                                      <span class="issue__tariff-label_disc">руб.</span>
                                  </span>
                              </label>

                <label class="issue__tariff-label">
                                  <input class="issue__tariff_input" type="radio" name="one">

                                  <span class="issue__tariff-label-val issue__tariff-label-val--up">
                                      6<span class="issue__tariff-label_disc">мес</span>
                                  </span>

                                  <span class="issue__tariff-input-round"></span>

                                  <span class="issue__tariff-label-val issue__tariff-label-val--down">2470
                                      <span class="issue__tariff-label_disc">руб.</span>
                                  </span>

                                  <span class="issue__tariff-line issue__tariff-line--half"></span>
                              </label>

                <label class="issue__tariff-label">
                                  <input class="issue__tariff_input" type="radio" name="one">

                                  <span class="issue__tariff-label-val issue__tariff-label-val--up">
                                      12<span class="issue__tariff-label_disc">мес</span>
                                  </span>

                                  <span class="issue__tariff-input-round"></span>

                                  <span class="issue__tariff-label-val issue__tariff-label-val--down">3240
                                      <span class="issue__tariff-label_disc">руб.</span>
                                  </span>

                                  <span class="issue__tariff-line issue__tariff-line--all"></span>
                              </label>
              </div>

              <span class="issue__tariff-line"></span>
            </div>

            <div class="issue_method_pay">
              <div class="issue__sub-title">
                Оплатите одним из способов:
              </div>

              <div class="issue_buttons">
                <button class="issue_button" disabled>
                                  <img src="img/visa-mc.png" alt="">
                                  <span>Картами Visa и Mastercard</span>
                              </button>

                <button class="issue_button issue_button--active">
                                  <img src="img/yandex-money.png" alt="">
                                  <span>Яндекс.Деньги</span>
                              </button>

                <button class="issue_button" disabled>
                                  <img src="img/webmoney-ok.png" alt="">
                                  <span>WebMoney</span>
                              </button>

                <button class="issue_button">
                                  <img src="img/sberbank.png" alt="">
                                  <span>Сбербанк России</span>
                              </button>

                <button class="issue_button">
                                  <img src="img/alfabank.png" alt="">
                                  <span>Альфа-Клик</span>
                              </button>

                <button class="issue_button">
                                  <img src="img/robokassa.png" alt="">
                                  <span>Робокасса</span>
                              </button>
              </div>

              <button class="btn ui-button ui-button--md ui-button--full issue_button_order" type="button">ОФОРМИТЬ PRO
                          </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>
